@model KetoNificent.Models.Serving.ServingDetailVM
@{
    ViewData["Title"] = "Serving";
    var IngredientList = ViewData["Ingredients"] as List<SelectListItem>;
        var ProductList = ViewData["Products"] as List<SelectListItem>;
}
<h2 class="display-4">Serving</h2>

<form asp-action="Detail" method="Get" class="row g-3">
    <div class="col-md-6">
        <label asp-for="ProductId" class="form-label"></label>
        <select asp-for="ProductId" asp-items="ProductList" class="form-select">
            <option selected hidden value="-1">-- Select Item --</option>
        </select>
    </div>
    <div class="col-md-6">
        <label asp-for="IngredientId" class="form-label"></label>
        <select asp-for="IngredientId" asp-items="IngredientList" class="form-select">
            <option selected hidden value="-1">-- Select Item --</option>
        </select>
    </div>
    <div>

    </div>
</form>