@model List<KetoNificent.Models.Serving.ServingIndexVM>
@{
    ViewData["Title"] = "Serving";
}
<a asp-controller="Serving" asp-action="Index" class="btn btn-sm btn-success">Create a Product</a>
</div>
<table class="table table-striped border">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name of Product</th>
            <th>Measurement</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var serving in Model)
            {
                <tr>
                    <td>@serving.Id</td>
                    <td>@serving.ProductId</td> @* Contains the name of the Product *@
                    <td>@serving.Measurement</td>
                    <td>@serving.Amount</td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
