@model List<KetoNificent.Models.Ingredient.IngredientIndexVM>
@{
    ViewData["Title"] = "Ingredients";
}
<div class="d-flex flex-wrap justify-content-between align-items-baseline">
<h1>@ViewData["Title"]</h1>
<a asp-controller-action="~Views/Product" asp-action="Create" class="btn btn-sm btn-success">Create an Ingredient</a>
</div>
<table class="table table-striped border ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Name of Carbohydrate</th>
            <th>Carbohydrate Count</th>
        </tr>
    </thead>
    <span>
    <tbody>
        @foreach (var ingredient in Model)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.NCarb</td>
                <td>@ingredient.NCarbCt</td>
         </tr>
        }
    </tbody>
</table>
</div>