@model KetoNificent.Models.Product.ProductCreateVM;
@{
    ViewData["Title"] = "Ingredients";
}
@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ERROR:</strong>@TempData["ErrorMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<h1 class="display-4 text-center">New Drink/Dish Name</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Create" method="post" class="row g-3">
    <div class="col-sm-6 container form-group text-center justify-content-center align-items-start" >
        <label asp-for="Name" class="form-label justify-content-center"></label>
        <input asp-for="Name" class="form-control justify-content-center">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <span></span>
    <a><input type="submit" value="Create" class="btn btn-primary btn-sm"></a>
</form>
@* public int Id { get; set; }
public string Name { get; set; } = string.Empty;
public string NCarb { get; set; } = string.Empty;
public int? NCarbCt { get; set;}
public int? FatCt { get; set; }
public int? ProteinCt { get; set; }
public string DefaultMeasurement { get; set; } = string.Empty;
public int? DefaultAmount { get; set; }
} *@