@model KetoNificent.Models.Product.ProductIndexVM
@{
    ViewData["Title"] = "Customize a Drink";
}

@if (TempData["ErrorMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ERROR:</strong>@TempData["ErrorMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1 class="display-4 text-center">Customize</h1>
<h1 class="display-4 text-center" style="font-size: small;">a drink or dish</h1>


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@* <form asp-action="Index" method="Get" class="row g-3">
    <figure class="col-md-6">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" asp-items="IngredientList" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </figure>
    <form> *@
            <h1>Product Name List</h1>
  
   <div class="box scrollable-list" style="height: 200px; overflow: auto;">
        <ul>
            @* input with radio type *@
            @foreach (var item in Model.NameList)
            {
                <li>@item.</li>
            }
        </ul>

        </div>



